@model List<Tuple<string, string>>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var roleID = Context.Session.GetInt32("role_id");
}

@await Html.PartialAsync("Breadcrumb", Model)

<div class="good-morning-blk">
    <div class="row">
        <div class="col-md-6">
            <div class="morning-user">
                <h2>Good Morning, <span>@ViewBag.FullName</span></h2>
                <p>Have a nice day at work</p>
            </div>
        </div>
        <div class="col-md-6 position-blk">
            <div class="morning-img">
                <img src="@Url.Content("~/assets/img/morning-img-01.png")" alt="" />
            </div>
        </div>
    </div>
</div>

                     
  @if (roleID == 1)
{

    <div class="row">
        <!-- Total Users -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="@Url.Content("~/assets/img/icons/calendar.svg")" alt="Total Users">
                </div>
                <div class="dash-content dash-count">
                    <h4>Total Users</h4>
                    <h2><span class="counter-up">@ViewBag.UserCount</span></h2>
                    <p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>40%</span> vs last month</p>
                </div>
            </div>
        </div>

        <!-- Total Patients -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="@Url.Content("~/assets/img/icons/profile-add.svg")" alt="Total Patients">
                </div>
                <div class="dash-content dash-count">
                    <h4>Total Patients</h4>
                    <h2><span class="counter-up">@ViewBag.PatientCount</span></h2>
                    <p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>20%</span> vs last month</p>
                </div>
            </div>
        </div>

        <!-- Total Drivers -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="@Url.Content("~/assets/img/icons/scissor.svg")" alt="Total Drivers">
                </div>
                <div class="dash-content dash-count">
                    <h4>Total Drivers</h4>
                    <h2><span class="counter-up">@ViewBag.DriverCount</span></h2>
                    <p><span class="negative-view"><i class="feather-arrow-down-right me-1"></i>15%</span> vs last month</p>
                </div>
            </div>
        </div>

        <!-- Total EMTs -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="@Url.Content("~/assets/img/icons/empty-wallet.svg")" alt="Total EMTs">
                </div>
                <div class="dash-content dash-count">
                    <h4>Total EMTs</h4>
                    <h2><span class="counter-up">@ViewBag.EMTCount</span></h2>
                    <p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>30%</span> vs last month</p>
                </div>
            </div>
        </div>

        <!-- Total Requests -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="@Url.Content("~/assets/img/icons/calendar.svg")" alt="Total Requests">
                </div>
                <div class="dash-content dash-count">
                    <h4>Total Requests</h4>
                    <h2><span class="counter-up">@ViewBag.RequestCount</span></h2>
                    <p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>10%</span> vs last month</p>
                </div>
            </div>
        </div>
    </div>

  


    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h4 class="card-title d-inline-block">Recent Requests</h4>
                    <a asp-controller="Driver" asp-action="DriverRequests" class="float-end request-views">Show all</a>
                </div>
                <div class="card-block table-dash">
                    <div class="table-responsive">
                        <table class="table mb-0 border-0 datatable custom-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Driver Assigned</th>
                                    <th>Patient Location</th>
                                    <th>Requested At</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in ViewBag.RecentRequests)
                                {
                                    <tr>
                                        <td>@request.RequestId</td>
                                        <td>@request.DriverInfo.Users.FirstName @request.DriverInfo.Users.LastName</td>
                                        <td>Lat: @request.PatientLatitude, Long: @request.PatientLongitude</td>
                                        <td>@request.RequestedAt.ToString("dd MMM yyyy HH:mm")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



}


</div>





