@{
    var roleID = Context.Session.GetInt32("role_id");
    var userId = Context.Session.GetInt32("user_id");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <title>Admin | @ViewData["Title"] </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">

    <link rel="stylesheet" href="~/assets/css/feather.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="" class="logo">
                    <img src="~/assets/img/logo.png" width="25" height="25" alt> <span>Rapid Rescue</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><img src="~/assets/img/icons/bar-icon.svg" alt></a>
            <a id="mobile_btn" class="mobile_btn float-start" href="#sidebar"><img src="~/assets/img/icons/bar-icon.svg" alt></a>
            <div class="top-nav-search mob-view">
                <form>
                    <input type="text" id="driverSearchInput" class="form-control" placeholder="Search here">
                    <div id="searchResults" class="dropdown-menu"></div> <!-- Dropdown for results -->
                    <div id="loadingSpinner" style="display:none; text-align:center; width:30px;height: 30px;">
                        <p>Loading...</p>
                    </div>
                    <a class="btn"><img src="~/assets/img/icons/search-normal.svg" alt></a>
                </form>
            </div>
            <ul class="nav user-menu float-end">
                <li class="nav-item dropdown d-none d-md-block">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><img src="~/assets/img/icons/note-icon-02.svg" alt><span class="pulse"></span> </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list" id="notification-list">
                                <!-- Notifications will be dynamically inserted here -->
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-md-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><img src="~/assets/img/icons/note-icon-01.svg" alt><span class="pulse"></span> </a>
                </li>
                <li class="nav-item dropdown has-arrow user-profile-list">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
                        <div class="user-names">
                            
                            
                        </div>
                        <span class="user-img">
                            <img src="~/assets/img/user-06.jpg" alt="Admin">
                        </span>
                    </a>
                    <div class="dropdown-menu">


                        <a class="dropdown-item" asp-action="EditProfile" asp-controller="User">Edit Profile</a>
                        @if(userId !=null){

                        <a class="dropdown-item" id="logout-link" asp-action="Logout_User" asp-controller="User">Logout</a>
                        }
                    </div>
                </li>
                
            </ul>
            <div class="dropdown mobile-user-menu float-end">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-end">

                    <a class="dropdown-item" asp-action="EditProfile" asp-controller="User">Edit Profile</a>
                    @if(userId !=null){

                    <a class="dropdown-item" id="logout-link" asp-action="Logout_User" asp-controller="User">Logout</a>
                    }
                    
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                     
  @if (roleID == 2)
                        {
                        <li>

                            <a asp-action="Admin" asp-controller="Admin" class="active subdrop">
                                <span class="menu-side">
                                    <img src="~/assets/img/icons/menu-icon-01.svg" alt="">
                                </span> <span> Patient  Dashboard </span> 
                            </a>
                         
</li>
                        }
                          @if (roleID == 3)
                        {
                        <li>

                            <a asp-action="Admin" asp-controller="Admin" class="active subdrop">
                                <span class="menu-side">
                                    <img src="~/assets/img/icons/menu-icon-01.svg" alt="">
                                </span> <span> Driver  Dashboard </span> 
                            </a>
                         
</li>


                        }

                          @if (roleID == 4)
                        {
                        <li>

                            <a asp-action="Admin" asp-controller="Admin" class="active subdrop">
                                <span class="menu-side">
                                    <img src="~/assets/img/icons/menu-icon-01.svg" alt="">
                                </span> <span> EMT  Dashboard </span> 
                            </a>
                         
</li>
                        }
  


                        @if (roleID == 1)
                        {
                            <li>
        <a asp-action="Admin" asp-controller="Admin" class="active subdrop">
            <span class="menu-side">
                <img src="~/assets/img/icons/menu-icon-01.svg" alt="">
            </span> 
            <span> Dashboard </span> 
        </a>
    </li>
        <li class="submenu">
            <a><span class="menu-side"><img src="~/assets/img/icons/menu-icon-02.svg" alt></span> <span> Drivers </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a asp-action="GetDrivers" asp-controller="Driver">Drivers List</a></li>
                <li><a asp-action="CreateDriver" asp-controller="Driver">Add Drivers</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a asp-action="GetPatients" asp-controller="Patients"><span class="menu-side"><img src="~/assets/img/icons/menu-icon-03.svg" alt></span> <span>Patients </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a asp-action="GetPatients" asp-controller="Patients">Patients List</a></li>
                <li><a asp-action="CreatePatient" asp-controller="Patients">Add Patients</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><span class="menu-side"><img src="~/assets/img/icons/menu-icon-08.svg" alt></span> <span> EMT </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
                <li><a asp-action="CreateEMT" asp-controller="EMT">Add EMT</a></li>
                <li><a asp-action="GetEMTs" asp-controller="EMT">EMT List</a></li>
            </ul>
        </li>
                            <li class="submenu">
                                <a href="#"><span class="menu-side"><img src="~/assets/img/icons/menu-icon-08.svg" alt></span> <span> Ambulance </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a asp-action="CreateAmbulance" asp-controller="Ambulance">Add Ambulance</a></li>
                                    <li><a asp-action="GetAmbulances" asp-controller="Ambulance">Ambulance List</a></li>
                                </ul>
                            </li>
                        }

                          @if (roleID == 3)
                        {
                            
                        
                        <li>
                                <a href="@Url.Action("UpdateStatus", "Driver", new { userId = userId })" class="active subdrop">
                                <span class="menu-side">
                                    <img src="~/assets/img/icons/menu-icon-01.svg" alt="">
                                </span>
                                <span> Update Status </span>
                            </a>
                        </li> 

                            <li>
                                <a href="@Url.Action("DriverRequests", "Driver", new { userId = userId })" class="active subdrop">
                                    <span class="menu-side">
                                        <img src="~/assets/img/icons/menu-icon-01.svg" alt="">
                                    </span>
                                    <span> Requests </span>
                                </a>
                            </li>
                        }


               
                        


                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">

    <div>
        @RenderBody()
    </div>



                <div class="notification-box">
                    <div class="msg-sidebar notifications msg-noti">
                        <div class="topnav-dropdown-header">
                            <span>Messages</span>
                        </div>
                        <div class="drop-scroll msg-list-scroll" id="msg_list">
                            <ul class="list-box">
                              
                               
                                
                               
                                
                                
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">See all messages</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-overlay" data-reff></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>

        <script>

            // Create a connection to the SignalR hub
            var connection = new signalR.HubConnectionBuilder().withUrl("/driverLocationHub").build();

            connection.start().then(function () {
                console.log("Connected to DriverLocationHub");
            }).catch(function (err) {
                return console.error(err.toString());
            });

            // Listen for the PlayNotificationSound event
            connection.on("PlayNotificationSound", function () {
                var audio = new Audio('/assets/audios/notification-sound.wav');
                audio.play();
            });
            document.addEventListener("DOMContentLoaded", function () {
                var logoutLink = document.getElementById('logout-link');

                logoutLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent the default link action

                    // Create a new XMLHttpRequest object
                    var xhr = new XMLHttpRequest();

                    // Configure it: POST-request for the URL /User/Logout_User
                    xhr.open('POST', '/logout', true);

                    // Set the request header if you need to add CSRF tokens or other headers
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                    // Handle the response
                    xhr.onload = function () {
                        if (xhr.status >= 200 && xhr.status < 300) {
                            // On success, redirect to the login page or any other page
                            window.location.href = '/login'; // Adjust this path to your login route
                        } else {
                            console.error('Logout failed:', xhr.statusText);
                            // Optionally, you can show an error message to the user here
                        }
                    };

                    // Send the request
                    xhr.send();
                });
            });


            document.getElementById("enablePasswordChange").addEventListener("change", function () {
                const isChecked = this.checked;
                document.getElementById("password").disabled = !isChecked;
                document.getElementById("confirmPassword").disabled = !isChecked;
            });
            function setDeleteUserId(userId) {
                document.getElementById('deleteUserId').value = userId;
            }
                 function setDeleteAmbulanceId(id) {
        document.getElementById('deleteAmbulanceId').value = id;
    }
            function setDeleteRequestId(requestId) {
                // Set the requestId to delete
                document.getElementById("deleteRequestId").value = requestId;
            }

           

     
            document.addEventListener('DOMContentLoaded', function () {
                var message = '@TempData["Message"]';
                var errorMessage = '@TempData["ErrorMessage"]';

                if (errorMessage) {
                    Swal.fire({
                        title: 'Error!',
                        text: errorMessage,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                } else if (message) {
                    Swal.fire({
                        title: 'Success!',
                        text: message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                }
            });




        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     



        <script src="~/assets/js/jquery-3.7.1.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/js/bootstrap.bundle.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/js/feather.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/js/jquery.slimscroll.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/js/select2.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/plugins/datatables/jquery.dataTables.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>
        <script src="~/assets/plugins/datatables/datatables.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/js/jquery.waypoints.js" type="350181ec80dc51c00069179a-text/javascript"></script>
        <script src="~/assets/js/jquery.counterup.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/plugins/apexchart/apexcharts.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>
        <script src="~/assets/plugins/apexchart/chart-data.js" type="350181ec80dc51c00069179a-text/javascript"></script>

        <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js" type="606359de15a7c824716adcaf-text/javascript"></script>
        <script src="~/assets/plugins/sweetalert/sweetalerts.min.js" type="606359de15a7c824716adcaf-text/javascript"></script>
        <script src="~/assets/js/app.js" type="350181ec80dc51c00069179a-text/javascript"></script>
        <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="350181ec80dc51c00069179a-|49" defer></script>

        <script>
            // Function to open Google Maps with the provided latitude and longitude
            function openInGoogleMaps(latitude, longitude) {
                if (latitude && longitude) {
                    var googleMapsUrl = `https://www.google.com/maps?q=${latitude},${longitude}`;
                    window.open(googleMapsUrl, '_blank');
                } else {
                    alert("Location is not available.");
                }
            }

            // Function to set the request ID in the modal's hidden input field
            function setDeleteRequestId(requestId) {
                document.getElementById('deleteRequestId').value = requestId;
            }
            $(document).ready(function () {
                // Function to fetch notifications
                function fetchNotifications() {
                    $.ajax({
                        url: '/getnotifications', // URL to fetch notifications from
                        method: 'GET',
                        success: function (data) {
                            console.log('Notifications data:', data);
                            var notificationList = $('#notification-list');
                            notificationList.empty(); // Clear the current notifications

                            if (data.length > 0) {
                                $.each(data, function (index, notification) {
                                    var notificationItem = `
                    <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar">
                                    <img alt="Notification" src="/assets/img/user.jpg" class="img-fluid">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">${notification.notificationType}</span>: ${notification.notificationMessage}</p>
                                    <p class="noti-time"><span class="notification-time">${notification.createdAt}</span></p>
                                </div>
                            </div>
                        </a>
                    </li>`;
                                    notificationList.append(notificationItem);
                                });

                            } else {
                                notificationList.append('<li class="notification-message">No notifications</li>');
                            }
                        },
                        error: function () {
                            console.log('Error fetching notifications');
                        }
                    });
                }

                // Fetch notifications on page load
                fetchNotifications();

                setInterval(fetchNotifications, 5000);
            });

            $(document).ready(function () {
                $('#driverSearchInput').on('keyup', function () {
                    var query = $(this).val();

                    if (query.length > 2) { // Trigger search only if query is 3 or more characters
                        $('#loadingSpinner').show(); // Show loading spinner
                        $('#searchResults').hide(); // Hide the results while loading

                        $.ajax({
                            url: '/Search/SearchAll', // The action method in your SearchController
                            method: 'GET',
                            data: { query: query },
                            success: function (response) {
                                var resultsDropdown = $('#searchResults');
                                resultsDropdown.empty(); // Clear previous results
                                $('#loadingSpinner').hide(); // Hide the loading spinner

                                // Display Drivers
                                if (response.drivers.length > 0) {
                                    resultsDropdown.append('<h6>Drivers</h6>');
                                    $.each(response.drivers, function (index, driver) {
                                        resultsDropdown.append(`
                                                                            <a class="dropdown-item" href="#">
                                                                                <strong>${driver.firstName} ${driver.lastName}</strong><br>
                                                                                Phone: ${driver.phoneNumber}<br>
                                                                                License: ${driver.licenseNumber}<br>
                                                                                Address: ${driver.address}
                                                                            </a>
                                                                        `);
                                    });
                                }

                                // Display EMTs
                                if (response.emts.length > 0) {
                                    resultsDropdown.append('<h6>EMTs</h6>');
                                    $.each(response.emts, function (index, emt) {
                                        resultsDropdown.append(`
                                                                            <a class="dropdown-item" href="#">
                                                                                <strong>${emt.firstName} ${emt.lastName}</strong><br>
                                                                                Certification: ${emt.certificationNumber}<br>
                                                                                License: ${emt.licenseNumber}<br>
                                                                                Contact: ${emt.contactNumber}
                                                                            </a>
                                                                        `);
                                    });
                                }

                                // Display Patients
                                if (response.patients.length > 0) {
                                    resultsDropdown.append('<h6>Patients</h6>');
                                    $.each(response.patients, function (index, patient) {
                                        resultsDropdown.append(`
                                                                            <a class="dropdown-item" href="#">
                                                                                <strong>${patient.firstName} ${patient.lastName}</strong><br>
                                                                                Mobile: ${patient.mobileNumber}<br>
                                                                                Situation: ${patient.situation}<br>
                                                                                Pickup Location: ${patient.pickupLocation}
                                                                            </a>
                                                                        `);
                                    });
                                }

                                if (response.drivers.length === 0 && response.emts.length === 0 && response.patients.length === 0) {
                                    resultsDropdown.append('<p>No results found</p>');
                                }

                                resultsDropdown.show(); // Show dropdown if results exist
                            },
                            error: function () {
                                $('#loadingSpinner').hide(); // Hide loading spinner if error occurs
                                alert('Error processing the request');
                            }
                        });
                    } else {
                        $('#loadingSpinner').hide(); // Hide the loading spinner if query is too short
                        $('#searchResults').hide(); // Hide the results if query is too short
                    }
                });
            });




        </script>

</body>
</html>