
@{
    var userId = Context.Session.GetInt32("user_id");
    var roleId = Context.Session.GetInt32("role_id");
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rapid Rescue - @ViewData["Title"]</title>

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">



    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/homeassets/css/animate.css">
    <link rel="stylesheet" href="~/homeassets/css/aos.css">
    <link rel="stylesheet" href="~/homeassets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/homeassets/css/custom-animate.css">
    <link rel="stylesheet" href="~/homeassets/css/fancybox.min.css">
    <link rel="stylesheet" href="~/homeassets/css/flaticon.css">
    <link rel="stylesheet" href="~/homeassets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/homeassets/css/icomoon.css">
    <link rel="stylesheet" href="~/homeassets/css/imp.css">
    <link rel="stylesheet" href="~/homeassets/css/jquery.bootstrap-touchspin.css">
    <link rel="stylesheet" href="~/homeassets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/homeassets/css/nice-select.css">
    <link rel="stylesheet" href="~/homeassets/css/owl.css">
    <link rel="stylesheet" href="~/homeassets/css/rtl.css">
    <link rel="stylesheet" href="~/homeassets/css/scrollbar.css">
    <link rel="stylesheet" href="~/homeassets/css/swiper.min.css">

    <!-- Module css -->
    <link rel="stylesheet" href="~/homeassets/css/module-css/header-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/banner-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/about-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/blog-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/fact-counter-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/faq-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/contact-page.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/breadcrumb-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/team-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/partner-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/testimonial-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/services-section.css">
    <link rel="stylesheet" href="~/homeassets/css/module-css/footer-section.css">

    <link href="~/homeassets/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link rel="stylesheet" href="~/homeassets/css/style.css">
    <link rel="stylesheet" href="~/homeassets/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/homeassets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/homeassets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/homeassets/images/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/homeassets/js/html5shiv.js"></script>
    <![endif]-->
    <style>
        #map {
            height: 600px;
            width: 100%;
            min-height: 800px;
        }
    </style>

</head>


<body>

    <div class="boxed_wrapper ltr">

        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="A" class="letters-loading">
                                A
                            </span>
                            <span data-text-preloader="P" class="letters-loading">
                                P
                            </span>
                            <span data-text-preloader="I" class="letters-loading">
                                I
                            </span>
                            <span data-text-preloader="D" class="letters-loading">
                                D
                            </span>
                            <span data-text-preloader=" " class="letters-loading">
                                &nbsp;
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="S" class="letters-loading">
                                S
                            </span>
                            <span data-text-preloader="C" class="letters-loading">
                                C
                            </span>
                            <span data-text-preloader="U" class="letters-loading">
                                U
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
     
        <header class="main-header header-style-one">
            @functions {
                public string IsActive(string controller, string action)
                {
                    var routeData = Context.GetRouteData();

                    var routeController = routeData.Values["controller"]?.ToString();
                    var routeAction = routeData.Values["action"]?.ToString();

                    return (controller == routeController && action == routeAction) ? "current" : "";
                }

                public string IsMultipleActive(string controller, params string[] actions)
                {
                    var routeData = Context.GetRouteData();

                    var routeController = routeData.Values["controller"]?.ToString();
                    var routeAction = routeData.Values["action"]?.ToString();

                    // Check if the current controller matches and if the current action is in the provided list of actions
                    if (controller == routeController && actions.Contains(routeAction))
                    {
                        return "current";
                    }

                    return "";
                }

            }
            <!--Start Header Top-->
            <div class="header-top">
                <div class="auto-container">
                    <div class="outer-box">

                        <div class="header-top__left">
                            <div class="main-logo-box">
                                <a href="#">
                                    <img src="~/homeassets/images/resources/logo.jpg" alt="Awesome Logo" title="">
                                </a>
                            </div>
                        </div>

                        <div class="header-top__right">
                            <div class="header-contact-info-style1">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-telephone"></span>
                                        </div>
                                        <div class="text">
                                            <p>Call anytime</p>
                                            <h5><a>+92 334 456789123</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-email"></span>
                                        </div>
                                        <div class="text">
                                            <p>Write email</p>
                                            <h5><a href="mailto:bitrebels@aptechgdn.net">bitrebels@aptechgdn.net</a></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            @if (roleId == null)
                            {
                                // Agar user login nahi hai, tab login button dikhaye
                                <div class="header-button-style1">
                                    <a class="btn-one" asp-action="Login_User" asp-controller="User">
                                        <span class="txt">Login</span>
                                    </a>
                                </div>
                            }
                            else
                            {
                                switch (roleId)
                                {
                                    case 1:
                                        // Admin ke liye dashboard button
                                        <div class="header-button-style1">
                                            <a class="btn-one" asp-action="Admin" asp-controller="Admin">
                                                <span class="txt">Admin Dashboard</span>
                                            </a>
                                        </div>
                                        break;
                                    case 2:
                                        // Patient ke liye dashboard button
                                        <div class="header-button-style1">
                                            <a class="btn-one" asp-action="Admin" asp-controller="Admin">
                                                <span class="txt">Patient Dashboard</span>
                                            </a>
                                        </div>
                                        break;
                                    case 3:
                                        // Driver ke liye dashboard button
                                        <div class="header-button-style1">
                                            <a class="btn-one" asp-action="Admin" asp-controller="Admin">
                                                <span class="txt">Driver Dashboard</span>
                                            </a>
                                        </div>
                                        break;
                                    case 4:
                                        // EMT ke liye dashboard button
                                        <div class="header-button-style1">
                                            <a class="btn-one" asp-action="Admin" asp-controller="Admin">
                                                <span class="txt">EMT Dashboard</span>
                                            </a>
                                        </div>
                                        break;
                                    
                                }
                            }
                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Top-->
            <!--Start Header-->
            <div class="header">
                <div class="auto-container">
                    <div class="outer-box">

                        <!--Start Header Left-->
                        <div class="header-left">
                            <div class="nav-outer style1 clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <div class="inner">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                </div>
                                <!-- Main Menu -->

                                <nav class="main-menu style1 navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="@IsActive("Home", "Home")">
                                                <a asp-action="Home" asp-controller="Home">Home</a>
                                              
                                            </li>
                                          
                                            <li class="@IsMultipleActive("Home", "Services", "AmbulanceCar", "MedicalEscort", "AdvancedLifeSupport", "GeneralServices") dropdown">
                                                <a  asp-action="Services" asp-controller="Home">Services</a>
                                                <ul>
                                                    <li><a asp-action="Services" asp-controller="Home">View All Services</a></li>
                                                    <li><a asp-action="AmbulanceCar" asp-controller="Home">Ambulance Car</a></li>
                                                    <li><a asp-action="MedicalEscort" asp-controller="Home">Medical Escort</a></li>
                                                    <li><a asp-action="AdvancedLifeSupport" asp-controller="Home">Advanced Life Support</a></li>
                                                    <li><a asp-action="GeneralServices" asp-controller="Home">General Services</a></li>
                                                </ul>

                                            </li>
                                            <li class="@IsMultipleActive("Home", "About","Team","Faq") dropdown">
                                                <a>Pages</a>
                                                <ul>
                                                    <li ><a asp-action="About" asp-controller="Home">About Our Company</a></li>
                                                    <li><a asp-action="Team" asp-controller="Home">Team</a></li>
                                                    <li><a asp-action="Faq" asp-controller="Home">FAQ’s</a></li>
                                                </ul>

                                            </li>
                                           
                                            <li class="@IsActive("Home", "Contact")"><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                        </div>
                        <!--End Header Left-->
                        <!--Start Header Right-->
                        <div class="header-right">
                            <div class="header-social-link">
                                <ul class="clearfix">
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End Header Right-->

                    </div>
                </div>
            </div>
            <!--End header-->
            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="container">
                    <div class="clearfix">
                        <!--Logo-->
                        <div class="logo float-left">
                            <a asp-action="Home" asp-controller="Home" class="img-responsive">
                                <img src="~/homeassets/images/resources/sticky-logo.jpg" alt="" title="">
                            </a>
                        </div>
                        <!--Right Col-->
                        <div class="right-col float-right">
                            <!-- Main Menu -->
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon fa fa-times-circle"></span></div>
                <nav class="menu-box">
                    <div class="nav-logo">
                        <a asp-action="Home" asp-controller="Home">
                            <img src="~/homeassets/images/resources/mobilemenu-logo.jpg"
                                 alt="" title="">
                        </a>
                    </div>
                    <div class="menu-outer">
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    </div>
                    <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a asp-action="Home" asp-controller="Home"><span class="fab fa fa-facebook-square"></span></a></li>
                            <li><a asp-action="Home" asp-controller="Home"><span class="fab fa fa-twitter-square"></span></a></li>
                            <li><a asp-action="Home" asp-controller="Home"><span class="fab fa fa-pinterest-square"></span></a></li>
                            <li><a asp-action="Home" asp-controller="Home"><span class="fab fa fa-google-plus-square"></span></a></li>
                            <li><a asp-action="Home" asp-controller="Home"><span class="fab fa fa-youtube-square"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Mobile Menu -->

        </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <div class="bottom-parallax">
            <!--Start footer area -->
            <footer class="footer-area">
                <div class="footer-area-shape float-bob"
                     style="background-image: url(/homeassets/images/shape/shape-2.png);"></div>
                <!--Start Footer-->
                <div class="footer">
                    <div class="container">
                        <div class="row text-right-rtl">

                            <!--Start single footer widget-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="single-footer-widget marbtm50">
                                    <div class="our-company-info">
                                        <div class="footer-logo">
                                            <a href="@Url.Action("Home", "Home")">
                                                <img src="~/homeassets/images/resources/logo.jpg" alt="Awesome Logo"
                                                     title="">
                                            </a>
                                        </div>
                                        <div class="text-box">
                                            <p>Rapid Rescue: Book Ambulances Without Worries.</p>
                                        </div>
                                        <div class="footer-widget-contact-info">
                                            <ul>
                                                <li>
                                                    <div class="inner">
                                                        <div class="icon phone">
                                                            <span class="icon-email"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>
                                                                <a href="mailto:bitrebels@aptechgdn.net">bitrebels@aptechgdn.net</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="inner">
                                                        <div class="icon">
                                                            <span class="icon-telephone"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>
                                                                <a href="tel:123456789">+92 334 56789123</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="inner">
                                                        <div class="icon mapmarker">
                                                            <span class="icon-pin"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>Aptech Garden, Garden West, Karachi 74550</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--End single footer widget-->
                            <!--Start single footer widget-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="single-footer-widget single-footer-widget--link-box margintop marbtm50">
                                    <div class="title">
                                        <h3>Links</h3>
                                    </div>
                                    <div class="footer-widget-links">
                                        <ul>
                                            <li><a asp-action="About" asp-controller="Home">About</a></li>
                                            <li><a asp-action="Services" asp-controller="Home">Our Services</a></li>
                                            <li><a asp-action="Team" asp-controller="Home">Team</a></li>
                                            
                                            <li><a asp-action="Faq" asp-controller="Home">FAQ’s</a></li>
                                            <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End single footer widget-->
                            <!--Start single footer widget-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="single-footer-widget margintop">
                                    <div class="title">
                                        <h3>Services</h3>
                                    </div>
                                    <div class="footer-widget-links">
                                        <ul>
                                            <li><a asp-action="AmbulanceCar" asp-controller="Home">Ambulance Car</a></li>
                                            <li><a asp-action="MedicalEscort" asp-controller="Home">Medical Escort</a></li>
                                            <li><a asp-action="AdvancedLifeSupport" asp-controller="Home">Advanced Life Support</a></li>
                                            <li><a asp-action="GeneralServices" asp-controller="Home">General Services</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End single footer widget-->
                            <!--Start single footer widget-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="single-footer-widget margintop pdtop20">
                                    <div class="footer-widget-quote-box">
                                        <h3>We can help,<br> today.</h3>
                                        <p>
                                            24 hours a day,<br> 7 days a week support.<br> Free, no obligation<br> price
                                            quotes.
                                        </p>
                                        <div class="btn-box">
                                            <a class="btn-one" asp-action="Contact" asp-controller="Home">
                                                <span class="txt">Get a Free Quote</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End single footer widget-->

                        </div>
                    </div>
                </div>
                <!--End Footer-->
                <div class="footer-bottom">
                    <div class="container">
                        <div class="bottom-inner">
                            <div class="copyright">
                                <p>Copyright &copy; 2022 <a href="@Url.Action("Home", "Home")">Rapid Rescue</a> All Rights Reserved.</p>
                            </div>
                            <div class="footer-social-link">
                                <ul class="clearfix">
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="Contact" asp-controller="Home"><i class="icon-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--End footer area-->
        </div>



        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="flaticon-up-arrow"></span>
        </button>

        <!-- search-popup -->
        <div id="search-popup" class="search-popup">
            <div class="close-search"><i class="icon-close"></i></div>
            <div class="popup-inner">
                <div class="overlay-layer"></div>
                <div class="search-form">
                    <form method="post" action="index.html">
                        <div class="form-group">
                            <fieldset>
                                <input type="search" class="form-control" name="search-input" value=""
                                       placeholder="Search Here" required>
                                <input type="submit" value="Search Now!" class="theme-btn style-four">
                            </fieldset>
                        </div>
                    </form>
                    <h3>Recent Search Keywords</h3>
                    <ul class="recent-searches">
                        <li><a asp-action="Home" asp-controller="Home">waste</a></li>
                        <li><a asp-action="Home" asp-controller="Home">Dumpster</a></li>
                        <li><a asp-action="Home" asp-controller="Home">Zerowaste</a></li>
                        <li><a asp-action="Home" asp-controller="Home">Garbage</a></li>
                        <li><a asp-action="Home" asp-controller="Home">trash</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- search-popup end -->
    </div>



    <script src="~/homeassets/js/jquery.js"></script>
    <script src="~/homeassets/js/aos.js"></script>
    <script src="~/homeassets/js/appear.js"></script>
    <script src="~/homeassets/js/bootstrap.bundle.min.js"></script>
    <script src="~/homeassets/js/isotope.js"></script>
    <script src="~/homeassets/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/homeassets/js/jquery.countTo.js"></script>
    <script src="~/homeassets/js/jquery.easing.min.js"></script>
    <script src="~/homeassets/js/jquery.event.move.js"></script>
    <script src="~/homeassets/js/jquery.fancybox.js"></script>
    <script src="~/homeassets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/homeassets/js/jquery.nice-select.min.js"></script>
    <script src="~/homeassets/js/jquery.paroller.min.js"></script>
    <script src="~/homeassets/js/jquery-sidebar-content.js"></script>
    <script src="~/homeassets/js/knob.js"></script>
    <script src="~/homeassets/js/map-script.js"></script>
    <script src="~/homeassets/js/owl.js"></script>
    <script src="~/homeassets/js/pagenav.js"></script>
    <script src="~/homeassets/js/scrollbar.js"></script>
    <script src="~/homeassets/js/swiper.min.js"></script>
    <script src="~/homeassets/js/tilt.jquery.js"></script>
    <script src="~/homeassets/js/TweenMax.min.js"></script>
    <script src="~/homeassets/js/validation.js"></script>
    <script src="~/homeassets/js/wow.js"></script>

    <script src="~/homeassets/js/jquery-1color-switcher.min.js"></script>
    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    }
   
    <!-- thm custom script -->
    <script src="~/homeassets/js/custom.js"></script>






    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_pOFVReydm5XRyae2wxzFEPyWnEUzOf4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.js"></script>

    <script>
        window.onload = function () {
            setTimeout(initMap, 100); // Adding a delay of 100ms to ensure the DOM is fully rendered
        };
        var map;
        var markers = {};
        var patientMarker;
        var driverMarker;
        var isFirstDriver = true; // To track if the map has been centered yet

        // Custom icons for patient and driver
        var patientIcon = '/homeassets/images/icon/map-maker.png';  // Custom patient icon path
        var driverIcon = '/homeassets/images/icon/ambulance.png'; // Custom driver icon path

        // Initialize map with a default location
        function initMap() {
            console.log("Initializing map with default center...");
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 24.873589079144057, lng: 67.02940765987226 }, // Default center (Karachi)
                mapTypeId: 'roadmap'
            });

            // Check for an existing request ID passed from the server
            var requestId = '@ViewData["RequestId"]';

            if (requestId) {
                console.log('Existing request found. Request ID: ' + requestId);

                // Fetch request data using the request ID
                fetch(`/get-request/${requestId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Set patient's location marker
                        var patientPosition = { lat: data.patientLatitude, lng: data.patientLongitude };
                        setPatientMarker(patientPosition);

                        // Set driver's location marker
                        var driverPosition = { lat: data.driverLatitude, lng: data.driverLongitude };
                        addMarker(data.driverId, driverPosition.lat, driverPosition.lng);

                        // Center the map on the patient's location
                        setMapCenter(patientPosition.lat, patientPosition.lng);
                    })
                    .catch(error => {
                        console.error('Error fetching request data:', error);
                    });
            }
        }

        // Set map center to specified coordinates
        function setMapCenter(lat, lng) {
            var position = new google.maps.LatLng(lat, lng);
            console.log("Setting map center to: ", { lat: lat, lng: lng });
            map.setCenter(position);
        }

        // Add or update markers on the map
        function addMarker(driverId, lat, lng) {
            var position = new google.maps.LatLng(lat, lng);
            console.log(`Received update for driver ${driverId} - Latitude: ${lat}, Longitude: ${lng}`);

            // Center the map on the first active driver's location
            if (isFirstDriver) {
                setMapCenter(lat, lng);  // Set map center to this driver
                console.log(`Map centered on the first active driver: ${driverId}`);
                isFirstDriver = false;
            }

            // Check if marker for this driver already exists
            if (markers[driverId]) {
                console.log(`Updating marker for driver ${driverId}`);
                markers[driverId].setPosition(position); // Update marker position
            } else {
                console.log(`Creating a new marker for driver ${driverId}`);
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: "Driver " + driverId,
                    icon: driverIcon // Use custom driver icon
                });
                markers[driverId] = marker;
            }
        }

        // Set or update the patient's marker
        function setPatientMarker(position) {
            if (patientMarker) {
                patientMarker.setPosition(position);
            } else {
                patientMarker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: "Your Location",
                    icon: patientIcon // Custom patient icon
                });
            }
        }

        // Initialize SignalR connection for real-time updates
        var connection = new signalR.HubConnectionBuilder().withUrl("/driverLocationHub").build();

        connection.on("ReceiveLocationUpdate", function (driverId, latitude, longitude) {
            console.log(`Location update received from server for driver ${driverId}: Latitude ${latitude}, Longitude ${longitude}`);
            addMarker(driverId, latitude, longitude); // Handle marker updates
        });

        connection.start().catch(function (err) {
            console.error(err.toString());
        });

        // Handle request ambulance button click
        document.getElementById('requestAmbulanceBtn').addEventListener('click', function () {
            var requestButton = this;

            // Disable the button to prevent multiple clicks
            requestButton.disabled = true;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    if (position.coords && position.coords.latitude && position.coords.longitude) {
                        var patientLatitude = position.coords.latitude;
                        var patientLongitude = position.coords.longitude;

                        console.log(`Patient location - Latitude: ${patientLatitude}, Longitude: ${patientLongitude}`);

                        // Place the patient's marker on the map with the custom icon
                        setPatientMarker({ lat: patientLatitude, lng: patientLongitude });

                        // Change map center to the patient's location
                        setMapCenter(patientLatitude, patientLongitude);

                        // Send request to the server to find the nearest driver
                        fetch('/request-ambulance', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                patientLatitude: patientLatitude,
                                patientLongitude: patientLongitude
                            }),
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error("No drivers available or another error occurred.");
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Assigned driver:', data);

                                // Place the driver's marker on the map with the custom icon
                                addMarker(data.driverId, data.latitude, data.longitude);

                                // Show a confirmation message to the user
                                document.getElementById('messageBox').innerHTML =
                                    `<div class="alert alert-success" role="alert">
                                                        Ambulance assigned! Your driver is on the way. Donot Reload The Page!
                                                    </div>`;
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                                document.getElementById('messageBox').innerHTML =
                                    `<div class="alert alert-danger" role="alert">
                                                        There was an error processing your request. Please try again.
                                                    </div>`;
                            })
                            .finally(() => {
                                requestButton.disabled = false;
                            });
                    } else {
                        alert("Unable to retrieve your location. Please try again.");
                        requestButton.disabled = false;
                    }
                }, function (error) {
                    console.error('Error in fetching location:', error.message);
                    alert("Geolocation error: " + error.message);
                    requestButton.disabled = false;
                });
            } else {
                alert("Geolocation is not supported by this browser.");
                requestButton.disabled = false;
            }
        });

        // Initialize the map on page load
        window.onload = initMap;

      

    </script>

</body>

</html>